<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>7007</title>
    <script src="https://openprocessing.org/openprocessing_sketch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/addons/p5.sound.min.js"></script>
  </head>
  <body id="header">
    <h1>7007</h1>
    <script>
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.src =
        "https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js";
      document.head.appendChild(s);
      var engine;
      var boxes = []; // 空的物件陣列
      var colors = "2B8BFC-000000-BCBCBC-2B8BFC-000000"
        .split("-")
        .map((a) => "#" + a);

      function setup() {
        createCanvas(windowWidth, windowHeight);
        background(100);
        let { Engine, Bodies, World, Mouse, MouseConstraint } = Matter;

        // 預設產生的物件
        let boxA = Bodies.rectangle(width * 2, height / 3, 90, 30, {
          chamfer: { radius: 15 },
        });
        let ground = Bodies.rectangle(width / 2, height + 31, width, 60, {
          isStatic: true,
        });

        // 產生環境
        engine = Engine.create();

        // 建立滑鼠互動
        var mouse = Mouse.create(canvas.elt);
        var mouseConstraint = MouseConstraint.create(engine, { mouse: mouse });
        World.add(engine.world, mouseConstraint);

        // 將物件加入環境
        boxes.push(boxA);
        boxes.push(ground);

        World.add(engine.world, [boxA, ground]);
        Matter.Runner.run(engine);
      }

      // 產生隨機物件
      function generateNewBox() {
        let { Engine, Bodies, World } = Matter;
        let sz = random([90, 120, 150]);
        let boxA = Bodies.rectangle((x = mouseX), (y = mouseY - 10), sz, 30, {
          chamfer: { radius: 15 },
        });
        boxA.color = random(colors);
        boxA.sz = sz;
        boxA.char = random([
          "AI MODEL",
          "AIGC NFT",
          "EIP-7007",
          "ON-CHAIN",
          "CREATOR",
          "TOKENS",
        ]);
        boxes.push(boxA);
        World.add(engine.world, boxA);
      }

      function draw() {
        background(0);
        // 畫出物件的頂點
        for (let box of boxes) {
          fill(box.color || "white");
          let sz = box.sz;
          stroke(255);
          strokeWeight(1);
          beginShape();
          for (let vert of box.vertices) {
            vertex(vert.x, vert.y);
          }
          endShape(CLOSE);

          // 在物件上畫出文字
          push();
          translate(box.position.x, box.position.y);
          rotate(box.angle);
          if (sz) {
            fill(255);
            noStroke();
            textAlign(CENTER);
            textSize(12);
            textStyle(BOLD);
            text(box.char, 0, 4);
          }
          pop();
        }
      }

      // 滑動產生物件
      function mouseMoved() {
        generateNewBox();
      }
    </script>
  </body>
</html>
